body {
  margin: 0px;
  border: 0px;
  background-color: #fff;
  color: #181818;
}

/*----Header styles----*/

.header {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  position: fixed;
  background-color: #181818;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.676);
}

.header_icon {
  display: flex;
}
.header_title {
  display: block;
}

.header_page {
  display: block;
}
.header_icon img {
  width: 110px;
  height: 110px;
  border-radius: 75%;
  margin-left: 24px;
  padding: 12px;
}

.header_title p {
  font-size: 13px;
  margin-left: 18px;
}

.header_icon h1 {
  margin-top: 16px;
  margin-left: 16px;
}

.header_link ul {
  display: flex;
  margin-right: 120px;
}

.header_link ul li {
  list-style: none;
  padding: 21px;
  margin-top: 18px;
  font-size: 16px;
  text-transform: uppercase;
}

.header_link a {
  text-decoration: none;
  color: #fff;
}

.header_link a:hover {
  color: #28ac16;
}

#wp_contact img {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
}

#mobile_menu {
  display: none;
}

#mobile_menu button {
  display: none;
  background-color: #181818;
}

#mobile_menu_close {
  display: none;
}

#mobile_menu_close button {
  display: none;
  background-color: #181818;
}

#mobile_link {
  display: none;
}

#home img{

  margin-left: 180px;
}

/*----About styles----*/

#hakkımızda {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 120px;
  display: flex;
}

#hakkimizda_mobile {
  display: none;
}

#hakkımızda video {
  padding-top: 21px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 0px 7px;
}

.about_img {
  display: block;
}

.about_title {
  width: 100%;
  height: auto;
  margin-left: 140px;
  margin-top: 42px;
}

.about_title p {
  font-size: 16px;
  color: #5c5e62;
  margin-top: 21px;
}

.about_title h1 {
  background-color: #181818;
  color: #fff;
  text-transform: uppercase;
  width: 45%;
  text-align: center;
}

.about_title ul {
  display: block;
  padding-top: 8px;
}

.about_title ul li {
  margin-top: 8px;
  font-size: 17px;
  color: #3d3e40d7;
  list-style: circle;
}

.about_video {
  margin-left: 42px;
}



/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*contact infos*/

#contact_infos {
  width: 100%;
  background-color: #181818;
  border: 20px solid #28ac16;
  height: 210px;
  color: #fff;
  text-align: center;
}

#contact_infos h2 {
  padding-top: 32px;
  font-size: 2.3em;
  padding-bottom: 16px;
}

#contact_infos a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
}

#contact_infos a:hover {
  text-decoration: none;
  color: #28ac16;
  font-size: 2em;
}

/*----Services styles----*/

#hizmetlerimiz {
  width: 100%;
  height: auto;
  padding-bottom: 72px;
  padding-top: 72px;
  background-color: #fff;
}

#hizmetlerimiz_mobile {
  display: none;
}

/*----------- Design Services----------------*/

.first_service {
  margin-top: 8px;
}

.services_gallery {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.services_gallery2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 96px;
}

.service_title {
  padding: 24px;
  color: #000;
  font-size: 24px;
  padding-bottom: 72px;
}

.service_title h1 {
  background-color: #181818;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  padding: 12px;
}

/*-------Mobilya--------*/
#mobilya img:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.mobilya_title {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 21px;
}

.mobilya_title h3 {
  color: #181818;
  padding-top: 12px;
}

.mobilya_info p {
  padding-top: 36px;
  color: #56585c;
  text-align: center;
}
/*-------Mutfak---------*/
#mutfak img:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.mutfak_title {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 21px;
}

.mutfak_title h3 {
  color: #181818;
  padding-top: 12px;
}

.mutfak_info p {
  padding-top: 36px;
  color: #56585c;
  text-align: center;
}

/*--------Bahçe--------*/
#bahçe img:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.bahçe_title {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 21px;
}

.bahçe_title h3 {
  color: #181818;
  padding-top: 12px;
}

.bahçe_info p {
  padding-top: 36px;
  color: #56585c;
  text-align: center;
}

/*------- Banyo---------*/
#banyo img:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.banyo_title {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 21px;
}

.banyo_title h3 {
  color: #181818;
  padding-top: 12px;
}

.banyo_info p {
  padding-top: 36px;
  color: #56585c;
  text-align: center;
}

/*-------Elektrik--------*/
#elektrik img:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.elektrik_title {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 21px;
}

.elektrik_title h3 {
  color: #181818;
  padding-top: 12px;
}

.elektrik_info p {
  padding-top: 36px;
  color: #56585c;
  text-align: center;
}
/*--------Marangozluk-------*/

#marangozluk img:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.marangozluk_title {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 21px;
}

.marangozluk_title h3 {
  color: #181818;
  padding-top: 12px;
}

.marangozluk_info p {
  padding-top: 36px;
  color: #56585c;
  text-align: center;
}

/*----Comments styles----*/

#yorumlar {
  width: 100%;
  background-color: #fff;
  height: auto;
  text-transform: uppercase;
  padding: 96px;
  display: block;
}

#yorumlar h1 {
  background-color: #181818;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  padding: 12px;
  margin-bottom: 46px;
}

#comment1 ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 64px;
}

#comment1 ul li {
  list-style: none;
}

.more_comment button {
  width: 240px;
  height: 46px;
  background-color: #181818;
  color: #fff;
  margin-top: 46px;
  margin-left: 520px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #243238;
}

.more_comment button:hover {
  background-color: #158706;
  color: #fff;
  border: 1px solid #fff;
}

.comment_1 img {
  border: 1px solid #b3b7be;
}

.comment_2 img {
  border: 1px solid #b3b7be;
}

.comment_3 img {
  border: 1px solid #b3b7be;
}

#comment2 ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 64px;
}

#comment2 ul li {
  list-style: none;
}

.comment_4 img {
  border: 1px solid #b3b7be;
}

.comment_5 img {
  border: 1px solid #b3b7be;
}

.comment_6 img {
  border: 1px solid #b3b7be;
}

/*----Contact styles----*/

#iletisim {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-bottom: 96px;
  padding-top: 72px;
  background-color: #181818;
}

.header_title ul {
  display: block;
}

.contact_info {
  width: 100%;
  height: auto;
  color: #fff;
}

.contact_info ul {
  display: block;
}

.contact_info a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 12px;
}

.contact_info a:hover {
  color: #28ac16;
}

.contact_info h4 {
  text-align: center;
  margin-bottom: 32px;
}

.contact_info ul li {
  list-style: none;
  padding: 12px;
}

.contact_maps {
  width: 100%;
  height: auto;
  text-align: center;
  border-left: 1px solid #fefefea0;
  border-right: 1px solid #fefefea0;
  padding: 32px;

  color: #fff;
}

.contact_maps h4 {
  text-align: center;
  margin-bottom: 32px;
}

.working_time {
  width: 100%;
  text-align: center;
  height: auto;
  color: #fff;
}

.working_time h4 {
  text-align: center;
  margin-bottom: 32px;
}

.working_time ul li {
  list-style: none;
  padding-bottom: 12px;
  font-size: 18px;
  color: #fff;
}

.contact_social_media {
  width: 100%;
  height: auto;
  background-color: #5b5555;
  padding: 21px;
}

.contact_social_media ul {
  display: flex;
  justify-content: space-around;
}

.contact_social_media ul li {
  list-style: none;
}

.contact_social_media ul li:hover {
  border: 1px solid #fff;
}

.contact_social_media a {
  text-decoration: none;
}

#endInfos {
  width: 100%;
  height: auto;
  padding: 32px;
  background-color: #181818;
  color: #fff;
}

#endInfos a {
  text-decoration: none;
  color: #26b7ffd9;
}

#endInfos a:hover {
  color: #26b7ff;
}

#endInfos ul {
  display: flex;
  justify-content: space-around;
}

#endInfos ul li {
  list-style: none;
  margin-top: 6px;
}
.home_video video {
  margin-top: 0px;
}

/*--mobilya gallery new file--*/

/*-----------------Telephone Styles-----------------*/

@media only screen and (max-width: 992px) {
  .header_title h1 {
    font-size: 21px;
    padding: 6px;
    margin: 6px;
  }

  .header_img img {
    width: 64px;
    height: 64px;
    padding: 0px;
    margin: 12px;
  }

  .header_title p {
    font-size: 12px;
    margin-left: 6px;
  }

  .header_link {
    display: none;
  }

  /*Telephone Design Mobile Header*/
  #mobile_menu {
    padding: 19px;
    display: block;
  }

  #mobile_link {
    display: none;
    width: 100%;
    height: auto;
    margin-top: 86px;
    background-color: #181818;
    color: #fff;
    position: fixed;
  }

  #mobile_link a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: "icomoon" !important;
    font-size: 18px;
    text-transform: uppercase;
  }

  #mobile_link ul li {
    list-style: none;
    padding: 32px;
  }

  #mobile_link ul li:hover {
    background-color: #28ac16;
  }

  #mobile_menu button {
    border: 0px;
    display: block;
  }

  #mobile_menu_close {
    padding: 21px;
    display: none;
  }

  #mobile_menu_close button {
    border: 0px;
    display: block;
  }

  /*Telephone Design Mobile Home*/

  /*Telephone Design Mobile About*/

  /*Telephone Design Mobile Contact*/

  .contact_maps {
    display: none;
  }

  #iletisim {
    display: block;
    background-color: #181818;
  }

  .contact_info {
    margin-bottom: 21px;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  .contact_info h4 {
    text-align: center;
    margin-top: 32px;
  }

  .contact_info ul {
    text-align: center;
  }

  .working_time {
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  .working_time h4 {
    text-align: center;
    margin-top: 32px;
  }

  .working_time ul {
    text-align: center;
  }

  .contact_social_media {
    width: 100%;
    height: auto;
    background-color: #5b5555;
    padding: 21px;
  }

  .home_video video {
    width: 100%;
    margin-top: 86px;
  }

  .about_images {
    display: none;
  }

  .about_img {
    display: block;
  }

  .about_car_images img {
    padding: 0px;
    border: 0px;
    width: 210px;
    height: 210px;
  }

  #hakkımızda {
    display: block;
  }

  .about_title_mobile {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 21px;
    margin-bottom: 72px;
  }

  .about_title_mobile p {
    font-size: 17px;
    color: #5c5e62;
  }

  .about_title_mobile h1 {
    background-color: #181818;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 2px;
  }

  .about_video {
    display: block;
  }

  /*contact infos*/

  #contact_infos {
    width: 100%;
    border: 12px solid #28ac16;
    height: auto;
    color: #fff;
    text-align: center;
    padding-bottom: 12px;
  }

  #contact_infos h2 {
    font-size: 1.5em;
  }

  #contact_infos a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
  }

  #contact_infos a:hover {
    text-decoration: none;
    color: #28ac16;
    font-size: 1.5em;
  }

  /*----Comments styles----*/

  #yorumlar {
    width: 100%;
    background-color: #fff;
    height: auto;
    text-transform: uppercase;
    padding: 21px;
  }

  #yorumlar h1 {
    background-color: #181818;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    padding: 12px;

    margin-bottom: 46px;
  }

  #comment1 ul {
    display: block;
    margin-top: 0px;
  }

  #comment1 ul li {
    list-style: none;
    padding-bottom: 21px;
  }

  .more_comment button {
    width: 240px;
    height: 46px;
    background-color: #181818;
    color: #fff;
    margin-top: 4px;
    margin-left: 42px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #243238;
  }

  .more_comment button:hover {
    background-color: #28ac16;
    color: #fff;
    border: 1px solid #fff;
  }

  .comment_1 img {
    border: 1px solid #b3b7be;
    width: 275px;
    height: 96px;
    padding: 0px;
    margin: 0px;
  }

  .comment_2 img {
    border: 1px solid #b3b7be;
    padding: 0px;
    width: 275px;
    height: 96px;
    margin: 0px;
  }

  .comment_3 img {
    border: 1px solid #b3b7be;
    padding: 0px;
    width: 275px;
    height: 96px;
    margin: 0px;
  }

  #comment2 ul {
    display: block;
    margin-top: 0px;
  }

  #comment2 ul li {
    list-style: none;
  }

  .comment_4 img {
    border: 1px solid #b3b7be;
    width: 275px;
    height: 96px;
  }

  .comment_5 img {
    border: 1px solid #b3b7be;
    width: 275px;
    height: 96px;
  }

  .comment_6 img {
    border: 1px solid #b3b7be;
    width: 275px;
    height: 96px;
  }

  .contact_social_media img {
    width: 46px;
    height: 46px;
  }

  #hizmetlerimiz {
    display: none;
  }

  #hizmetlerimiz_mobile {
    display: block;
    background-color: #fff;
    width: 100%;
    height: auto;
    margin-top: 72px;
  }

  .services_gallery_mobile {
    width: 100%;
    height: auto;
    display: block;
  }

  .services_gallery2_mobile {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 96px;
  }

  .service_title_mobile {
    padding: 24px;
    color: #000;
    font-size: 24px;
    padding-bottom: 21px;
  }

  .service_title_mobile h1 {
    background-color: #181818;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    padding: 12px;
  }

  /*----------- Design Services----------------*/

  /*-------Mobilya--------*/

  #mobilya_mobile {
    width: 100%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .mobilya_title_mobile {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 21px;
  }

  .mobilya_title_mobile h3 {
    color: #181818;
    padding-top: 12px;
  }

  .mobilya_info_mobile p {
    padding-top: 36px;
    color: #56585c;
    text-align: left;
    font-size: 15px;
    margin-left: 16px;
    padding-bottom: 42px;
  }
  /*-------Mutfak---------*/

  .mutfak_title_mobile {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 21px;
  }

  .mutfak_title_mobile h3 {
    color: #181818;
    padding-top: 12px;
  }

  .mutfak_info_mobile p {
    padding-top: 36px;
    color: #56585c;
    text-align: left;
    font-size: 15px;
    margin-left: 16px;
    padding-bottom: 42px;
  }

  /*--------Bahçe--------*/

  .bahçe_title_mobile {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 21px;
  }

  .bahçe_title_mobile h3 {
    color: #181818;
    padding-top: 12px;
  }

  .bahçe_info_mobile p {
    padding-top: 36px;
    color: #56585c;
    text-align: left;
    font-size: 15px;
    margin-left: 16px;
    padding-bottom: 42px;
  }

  /*------- Banyo---------*/

  .banyo_title_mobile {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 21px;
  }

  .banyo_title_mobile h3 {
    color: #181818;
    padding-top: 12px;
  }

  .banyo_info_mobile p {
    padding-top: 36px;
    padding-top: 36px;
    color: #56585c;
    text-align: left;
    font-size: 15px;
    margin-left: 16px;
    padding-bottom: 42px;
  }

  /*-------Elektrik--------*/

  .elektrik_title_mobile {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 21px;
  }

  .elektrik_title_mobile h3 {
    color: #181818;
    padding-top: 12px;
  }

  .elektrik_info_mobile p {
    padding-top: 36px;
    color: #56585c;
    text-align: left;
    font-size: 15px;
    margin-left: 16px;
    padding-bottom: 42px;
  }
  /*--------Marangozluk-------*/

  .marangozluk_title_mobile {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 21px;
  }

  .marangozluk_title_mobile h3 {
    color: #181818;
    padding-top: 12px;
  }

  .marangozluk_info_mobile p {
    padding-top: 36px;
    color: #56585c;
    text-align: left;
    font-size: 15px;
    margin-left: 16px;
    padding-bottom: 42px;
  }

  #hakkımızda {
    display: none;
  }

  #hakkimizda_mobile {
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #302c2c;
    padding: 12px;
  }

  .about_car_images_mobile img {
    width: 320px;
  }

  .about_title_mobile p {
    font-size: 16px;
    color: #5c5e62;
    margin-top: 21px;
  }

  .about_title_mobile h1 {
    background-color: #243238;
    color: #fff;
    text-transform: uppercase;
    width: 55%;
    text-align: center;
  }

  .about_title_mobile ul {
    display: block;
    padding-top: 8px;
  }

  .about_title_mobile ul li {
    margin-top: 8px;
    font-size: 17px;
    color: #3d3e40d7;
    list-style: circle;
  }

  #endInfos ul {
    text-align: start;
    display: block;
  }

  #endInfos ul li {
    margin: 0px;
    margin-top: 12px;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #243238;
  }


  
#home img{
  margin-top: 72px;
  width: 100%;
  height: auto;

}


#home img{
  margin-left: 0px;
}

.about_video {
  margin-left: 0px;
}


}

